*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* background-image: url(portfolio-background.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #dfe6ed;
}

.PORTFO{
    font-weight: bolder;
    font-size: xx-large;
    /* color: white; */
    font-family: 'Young Serif', serif;
}

.LIO{
    font-size: xx-large;
    color: rgb(181, 13, 13);
    font-weight: bolder;
    font-family: 'Young Serif', serif;
}

.bar{
    margin: 15px 0px;
    background-color: white;
}

.bar ul .PORTFOLIO{
    overflow: auto;
    margin: 0px 80px;
}

.bar ul .right{
    overflow: auto;
}

ul li a{
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    /* color: white; */
    color: black;
}

.bar li a:hover{
    color: rgb(236, 1, 1);
    text-decoration: underline;
}

.bar li{
    float: right;
    list-style: none;
    margin: 10px 25px;
}

section{
    /* height: 200px; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-align: left;
    margin-top: 130px;
    margin-left: 147px;
    display: inline-block;
}

.r1{
    font-size: x-large;
    font-weight: bold;
    /* color: white; */
}

.r2{
    font-size: 80px;
    font-weight: 1000;
    /* color: white; */
}

.r3{
    font-size: x-large;
    font-weight: bold;
    /* color: white; */
}

.Programmer{
    color: red;
    font-size: xx-large;
    font-weight: bolder;
}

section>a{
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    background-color: #fd092ae1;
    padding: 10px 30px;
    transition: all 0.5s ease-in-out;
}

section>a:hover{
    background-color: rgb(248, 0, 0);
    color: azure;
}

footer a{
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    /* color: white; */
    color: black;
    position: absolute;
    bottom: 10px;
    left: 5px;

}

footer a:hover{
    color: rgb(236, 1, 1);
    text-decoration: underline;
}
div{
    display: inline-block;
    position: absolute;
    right: 100px;
}